h6 {
    font-size: 10px;
}

.used {
    background-color: #ddcc33;
}

.selected {
    background-color: #ddcc33;
}

.cart-place {
    width: 290px;
}

.cart-body {
    max-height: 230px
}

.fixed {
    position: fixed;
}

.message-no-cart {
    padding: 6px
}

.body-ticket {
    padding: 0px;
}

.body-ticket > h1 {
    font-size: 45px;
    color: #ffffff;
    padding-top: 4px;
}

.my-ticket > h1 {
    color: #6b6b6b
}

.footer-ticket {
    padding: 0px;
    border: 0px !important;
}

.btn-add-cart-ticket {
    padding: 2px;
    border-radius: 0px;
}


/* @media screen and (max-width: 860px) {
    .cart-place {
        height: 100%;
        right: 9%;
        width: 21%;
    }
} */


/* 
@media (min-width: 768px) {
    .affix {
        position: fixed;
    }
} */

@media (min-width: 50px) and (max-width: 800px) {
    .affix {
        position: relative!important;
        width: 90%;
        right: 0;
        margin: 0 auto
    }
}

.selected-now {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ddcc33+0,afaf2a+46,b5c12e+49,f7db3b+100 */
    background-color: #ddcc33;
    /* Old browsers */
    background-image: url("../images/queen-mini-ticket.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.selected-now-color {
    color: #ddcc33;
}

.available {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfbfbf+1,b2b2b2+50,aaaaaa+51,969696+100 */
    background-color: #636b6f;
    /* Old browsers */
    background-image: url("../images/queen-mini-ticket.png");
    background-position: top center;
    background-repeat: no-repeat;
}


}
.available-color {
    color: #bfbfbf;
}
.reserved {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0072bc+0,2989d8+50,207cca+51,7db9e8+100 */
    
    background-color: #0072bc;
    /* Old browsers */
    
    background-image: url("../images/queen-mini-ticket.png");
  
    background-position: top center;
    background-repeat: no-repeat;
}
.reserved-color {
    color: #0072BC;
}
.footer-my-available-tickets {
    background-color: #2579a9;
}
.footer-my-used-tickets {
    background-color: #bfbfbf;
}
.footer-my-available-tickets > p,
.footer-my-used-tickets > p {
    color: #ffffff;
    margin: 0px!important;
}
.ticket-not-found {
    margin: 60px 0px;
}
.tickets {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
    border: 0px!important 
}
